NET "button<0>" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "button<1>" LOC = P40 | IOSTANDARD = LVTTL | PULLUP;
NET "button<2>" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "ledC<0>" LOC = P33 | IOSTANDARD = LVTTL | PULLUP;
NET "ledC<1>" LOC = P30 | IOSTANDARD = LVTTL | PULLUP;
NET "ledC<2>" LOC = P50 | IOSTANDARD = LVTTL | PULLUP;
NET "startbtn" LOC = P35 | IOSTANDARD = LVTTL | PULLUP;
NET "restartbtn" LOC = P27 | IOSTANDARD = LVTTL | PULLUP;
NET "ledH" LOC = P34| IOSTANDARD = LVTTL | PULLUP;
NET "ledclg<0>" LOC = P32 | IOSTANDARD = LVTTL | PULLUP;
NET "ledclg<1>" LOC = P29 | IOSTANDARD = LVTTL | PULLUP;
NET "ledclg<2>" LOC = P26 | IOSTANDARD = LVTTL | PULLUP;