NET "button[0]" LOC = P51;
NET "button[0]" IOSTANDARD = LVTTL;
NET "button[0]" PULLUP;
NET "button[1]" LOC = P40;
NET "button[1]" IOSTANDARD = LVTTL;
NET "button[1]" PULLUP;
NET "button[2]" LOC = P41;
NET "button[2]" IOSTANDARD = LVTTL;
NET "button[2]" PULLUP;
NET "gled" LOC = P33;
NET "gled" IOSTANDARD = LVTTL;
NET "gled" PULLUP;
NET "bled" LOC = P30;
NET "bled" IOSTANDARD = LVTTL;
NET "bled" PULLUP;
NET "cled" LOC = P50;
NET "cled" IOSTANDARD = LVTTL;
NET "cled" PULLUP;
NET "ledclg[0]" LOC = P32;
NET "ledclg[0]" IOSTANDARD = LVTTL;
NET "ledclg[0]" PULLUP;
NET "ledclg[1]" LOC = P29;
NET "ledclg[1]" IOSTANDARD = LVTTL;
NET "ledclg[1]" PULLUP;
NET "ledclg[2]" LOC = P26;
NET "ledclg[2]" IOSTANDARD = LVTTL;
NET "ledclg[2]" PULLUP;
