NET "a" LOC = P51 | IOSTANDARD = LVTTL ;
NET "b" LOC = P41 | IOSTANDARD = LVTTL ;
NET "c" LOC = P35 | IOSTANDARD = LVTTL ;

NET "sum" LOC = P6 | IOSTANDARD = LVTTL | PULLUP;
NET "carry" LOC = P2 | IOSTANDARD = LVTTL | PULLUP;