NET "button[0]" LOC = P51;
NET "button[0]" IOSTANDARD = LVTTL;
NET "button[0]" PULLUP;
NET "button[1]" LOC = P40;
NET "button[1]" IOSTANDARD = LVTTL;
NET "button[1]" PULLUP;
NET "button[2]" LOC = P41;
NET "button[2]" IOSTANDARD = LVTTL;
NET "button[2]" PULLUP;
NET "ledC[0]" LOC = P33;
NET "ledC[0]" IOSTANDARD = LVTTL;
NET "ledC[0]" PULLUP;
NET "ledC[1]" LOC = P30;
NET "ledC[1]" IOSTANDARD = LVTTL;
NET "ledC[1]" PULLUP;
NET "ledC[2]" LOC = P50;
NET "ledC[2]" IOSTANDARD = LVTTL;
NET "ledC[2]" PULLUP;
NET "startbtn" LOC = P35;
NET "startbtn" IOSTANDARD = LVTTL;
NET "startbtn" PULLUP;
NET "restartbtn" LOC = P27;
NET "restartbtn" IOSTANDARD = LVTTL;
NET "restartbtn" PULLUP;
NET "ledH" LOC = P34;
NET "ledH" IOSTANDARD = LVTTL;
NET "ledH" PULLUP;
NET "ledclg[0]" LOC = P32;
NET "ledclg[0]" IOSTANDARD = LVTTL;
NET "ledclg[0]" PULLUP;
NET "ledclg[1]" LOC = P29;
NET "ledclg[1]" IOSTANDARD = LVTTL;
NET "ledclg[1]" PULLUP;
NET "ledclg[2]" LOC = P26;
NET "ledclg[2]" IOSTANDARD = LVTTL;
NET "ledclg[2]" PULLUP;
